Flask==2.3.3
flask-cors==4.0.0
gunicorn==23.0.0
opencv-python==4.10.0.84
pandas==2.2.3
numpy>=2.1.0
Pillow==11.0.0
tensorflow-cpu==2.20.0
h5py==3.12.1
openai==0.27.8          
python-dotenv==1.0.0 


